.contenedor-boton {

  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.contenedor{

  display: flex;
  justify-content: center;
  padding-top: 2rem;

}


.total {

  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 3rem;

}
